---
// import Layout from "../layouts/Layout.astro";
// let {option, title} = Astro.props;
const year = "2024";
const webmaster = "https://www.techhandie.com/";
const company = "Pebble Ministries";
const title = "";
---
<!--<!DOCTYPE html>-->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{ title }</title>
    </head>
    <body>
        <navbar id="nav">
            <ul>
                <li>
                  <a id="m1" href="/Page1" onclick("menuId")>Option 1</a>
                </li>
                <li>
                  <a id="m2" href="/Page2" onclick("menuId")>Option 2</a>
                </li>
                <li>
                  <a id="m3" href="/Page3" onclick("menuId")>Option 3</a>
                </li>
            </ul>    
        </navbar>
        <div class="heading center">{title}</div>
        <p class="just">Literary works to discover ...</p>
        <p class="just">Different genres</p>
        <footer>
            <div class="f-container">
                <span><div>&copy {year}</div> All rights and priveleges reserved for {company}</span>
                <div class="italic">{webmaster}</div>
            </div>
        </footer>
    </body>
</html>




    
<script>
</script>
<style>
    .container {
        margin: 40px 40px;
    }
    .just{
        text-align: justify;
    }

    .center {
        text-align: center;
    }

    .heading {
        font-size: 1.5rem;
        color: #310754;
        font-style: oblique;
    }

    p {
        color: #121254;
    }
    .f-container {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: crimson;
        font-size: 0.875rem;
    }
    .italic {
        font-style: oblique;
    }

</style>